.your-code {
  margin-top: 40px;
  border: 2px solid darkmagenta;
}

.active {
  background-color: hsl(328, 75%, 68%);
}

/* .table .table-hover tbody tr.active:hover,
.table .table-hover tbody tr.active {
background-color: #2e5f95;
}  */